*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body{
        background: #000;
        color: #fff;
    }
   


.header{
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(netflix.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8% ;
    position: relative;
  
}
nav{display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    

}
.logo{
    width: 18%;
    cursor: pointer;
}
nav button{
    border: none;
    outline: none;
    background-color: red;
    color: white;
    padding: 7px 20px;
    font-size: 13px;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
   
}
 form{
    position: relative;
    
    font-size:180%;
    font-weight:100;
    text-align: center;
    

}

    






.header-content{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50px);
    text-align: center;
    margin-top: 100px;
    color: #fff;
}
.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;

}
.header-content h3{
    font-weight: 400;
    margin-bottom: 20px;

}


  
  .form button{
    width: 170px;
    height: 70px;
    background-color:red ;
    color: #fff;
    font-weight: bolder;
    font-size:20px;
    cursor: pointer;
    
  }
  .form input{
    width: 432px;
    height: 100%;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    
  }

.trend h1{
    color: #fff;
    margin-left:7%;
    font-size:x-large;
    font-weight:bold
    
}
.reason h1{
    color: #fff;
    margin-right: 70%;
    margin-left: 5%;
    font-size:144%;
    font-weight:bold
    
    
    
}
.reason-card{
    width: 250px;
    padding-left: 40px;
    padding-top: 25px;
    padding-bottom: 90px;

    
    
}
.reason h4{
    color: #fff;
    font-weight: bolder;
}
.reason h5{
    color: #fff;

}
.faq h1{
    color: #fff;
    margin-right: 50%;
    margin-left: 10%;
    font-size:144%;
    font-weight:bold
    
}
.accord{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;

}
.accord li{
    list-style: none;
    width: 100%;
    padding: 5px;
    
}
p{
    color:#fff ;
}
.accord li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin: 2px;
    cursor: pointer;
    position: relative;
    color: #fff;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: trasform 0.5s;

}
input[type="radio"]{
    display: none;

}
 .accord .cont{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s , padding 0.5s;

 }
 .accord input[type="radio"]:checked +label+ .cont{
    max-height: 600px;
    padding: 30px 20px;

 }

  .accord input[type="radio"]:checked +label ::after{
    transform: rotate(135deg);
  }
  .faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;

    

}
.faq .p{font-size: 13px;
    text-align: center;

}
.footer{
    padding: 50px 15px 10px;
    border-top:6px solid #333;
    color: #777;

}
.footer h6{
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 30px;
    padding-left: 11%;



}
.footer .col-md-3{

    margin-bottom: 20px;
}
.footer .col-md-3 a{
    display: block;
    text-decoration: none;
    color: #777;
    margin-bottom: 10px;

}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;
    margin-left: 10%;
}
.cr{margin-top: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 11%;
    color: #777;
    

}




 
    
    








